@import '@fontsource/roboto/index.css';

:root {
  color-scheme: light dark;
  font-family: "Roboto", serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #e7e7e7;
  color: #0f0f0f;
}

a {
  text-decoration: none;
  color: inherit;
}