.container {
  width: 70vw;
  /*border: 1px solid black;*/
  height: 500px;
  padding: 30px 20px 20px 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.data {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  grid-area: 1 / 1 / 6 / 3;
  padding: 50px;
}

.initData {
  max-width: 100%;
  overflow: hidden;
}

.p1 {
  color: #a2a2a2;
}

.p2 {
  font-size: 30px;
}

.p3 {
  color: #a2a2a2;
}

.bottom {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.goto_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 35px;
  background-color: #333333;
  padding: 5px 10px;
  box-shadow: -8px 5px 10px #5d5d5d;
  border: 1px solid #252525;
}

.goto_button:hover {
  transition-duration: 0.3s;
  transform: translate(-2px, 2px);
  box-shadow: -6px 3px 10px #5d5d5d;
}

.tmpData {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rating_icon {
  padding-right: 5px;
}

.image_container {
  height: 500px;
  grid-area: 1 / 3 / 6 / 7;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}